*{
    padding: 0;
    margin: 0;
    *font-family: 'Open Sans', sans-serif;
}
body{
    height: 100%;
    background-color: rgba(139, 139, 139, 0.4);
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-lg{
    display: flex;
    width: 700px;
    height: auto;
    *background-color: transparent;
}

.login{
    width: 400px;
    height: 500px;
    background-color: white;
    color:black;
    box-sizing: border-box;
    padding: 30px 40px;
    border-radius: 10px;
    animation-name: border1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes border1{
    0%{
        border-radius: 0%;
    }
    100%{
        border-top-left-radius:18%;
        border-bottom-left-radius: 18%;
    }
}

.login .title{
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
    padding: 0 0 30px 0;
    margin-top: 15px;
}

.login h2{
    margin: 0;
    padding: 0;
    font-weight: unset;
    display: block;
}

.login input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    border: none;
    border-color: transparent;
    color: black;
    border-bottom: black 1px solid;
    font-size: 15px;
}

.login button{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border: none;
    outline: none;
    color: black;
    background-color: rgb(33, 182, 219);
    font-size: 15px;
    border-radius: 25px;
}

.login button a{
    color: white;
    text-decoration: none;
}

.login .access:hover{
    background-color: rgb(33, 182, 219, 0.5);
    text-decoration: underline;
    cursor: pointer;
}

.login a{
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: darkgray;
    margin: 5px 0 0 0;
}

.login a:hover{
    color: black;  
}

.login-nt{
    width: 400px;
    height: 500px;
    color: white;
    background-color: black;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 10px;
    animation-name: border2;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes border2 {
    0%{
        border-radius: 0%;
    }
    100%{
        border-top-right-radius: 18%;
        border-bottom-right-radius: 18%;
    }
}

.login-nt .title{
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    margin-top: 15px;
}

.login-nt button{
    width: 100%;
    margin: 20px ;
    position: relative;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
}

.login-nt button i{
    position: absolute;
    top: 10px;
    left: 20px;
}

.login-nt .email{
    background-color: #db4a49;
    color: white;
    font-size: 18px;
}

.login-nt .email:hover{
    background-color: rgb(219, 74, 57, 0.8);
    cursor: pointer;
    text-decoration: underline;
}

.login-nt .fb{
    background-color: #3b5999;
    color: white;
    font-size: 18px;
}

.login-nt .fb:hover{
    background-color: rgb(59, 89, 153, 0.8);
    cursor: pointer;
    text-decoration: underline;
}

.login-nt .tw{
    background-color: #00acee;
    color: white;
    font-size: 18px;
}

.login-nt .tw:hover{
    background-color: rgb(0, 172, 238, 0.8);
    cursor: pointer;
    text-decoration: underline;
}

.login-nt .ig {
    background-image: linear-gradient(to bottom right, #F58529, #ED4956, #8134AF, #2E3D4F);
    font-size: 18px;
    color: white;
}

.login-nt .ig:hover{
    background-image: linear-gradient(to bottom right, rgb(82, 91, 212, 0.8), rgb(129, 52, 175, 0.8), rgb(221, 42, 123, 0.8), rgb(254, 218, 119, 0.8), rgb(245, 133, 41, 0.8));
    cursor: pointer;
    text-decoration: underline;
}